.layout_div_boxRPG_style {
    border: solid 1px #cacaca;
    background: #04009d;
    background: -moz-linear-gradient(top,  rgba(49, 46, 138, 1) 0%,rgba(19, 13, 85, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04009d), color-stop(100%,#06004d));
    background: -webkit-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: -o-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: -ms-linear-gradient(top,  #04009d 0%,#06004d 100%);
    background: linear-gradient(to bottom,  rgba(49, 46, 138, 1) 0%,rgba(19, 13, 85, 1) 100%);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.layout_p_boxRPG_style {
    color: #e2e5fc;
    text-shadow: 2px 2px #212421,
                    1px 1px #212021;
    font-family: Verdana, sans-serif;
    font-size: 1.6vw;
    font-weight: normal;
 }