.dialogueEco_target_all
*{
    overflow: hidden;
}

.dialogueEco_div_main_pos
{
    width: 98%;
    height: 20%;
    margin-left: 0.7%;
    margin-bottom: 1%;
}

.dialogueEco_div_padding_pos
{
    padding: 6px 6px 6px 10px;
}

.dialogueEco_div_titleLeft_pos {
    left: 0.4%;
    top: -25%;
}

.dialogueEco_div_faceLeft_pos {
    width: 13%;
    height: 100%;
}

.dialogueEco_div_dialRight_pos {
    width: 85.5%;
    height: 100%;
}