.dialogueFullMol_div_padding_pos
{
    padding: 10px 12px 12px 20px;
}

.dialogueFullMol_div_dialFull_pos
{
    width : 94.5%;
    height: 70%;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
}