.imageTilesetMol_div_main_pos
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.imageTilesetMol_div_faceSize_pos
{
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}



.imageTilesetMol_img_tileset_pos
{
    position: absolute;
}