@keyframes heartbeat1
{
  0% { transform: scale( .75 ); }
  20% { transform: scale( 1 ); }
  40% { transform: scale( .75 ); }
  60% { transform: scale( 1 ); }
  80% { transform: scale( .75 ); }
  100% { transform: scale( .75 ); }
}
@keyframes heartbeat2
{
  0% { transform: scale( .75 ); }
  30% { transform: scale( 1 ); }
  43% { transform: scale( .75 ); }
  56% { transform: scale( 1 ); }
  70% { transform: scale( .75 ); }
  100% { transform: scale( .75 ); }
}

.AnimHeartbeat1 { animation: heartbeat1 2s infinite; }
.AnimHeartbeat2 { animation: heartbeat2 2.5s infinite; }