@keyframes keyframes_heartbeat1
{
  0% { transform: scale( .75 ); }
  20% { transform: scale( 1 ); }
  40% { transform: scale( .75 ); }
  60% { transform: scale( 1 ); }
  80% { transform: scale( .75 ); }
  100% { transform: scale( .75 ); }
}
@keyframes keyframes_heartbeat2
{
  0% { transform: scale( .75 ); }
  30% { transform: scale( 1 ); }
  43% { transform: scale( .75 ); }
  56% { transform: scale( 1 ); }
  70% { transform: scale( .75 ); }
  100% { transform: scale( .75 ); }
}

.anim_heartBeat1 { animation: keyframes_heartbeat1 2s infinite; }
.anim_heartBeat2 { animation: keyframes_heartbeat2 2.5s infinite; }