/* Layout */
@import './layout/div.layout.style.css';
@import './layout/p.layout.style.css';
@import './layout/box.rpg.layout.style.css';
@import './layout/button.layout.style.css';
@import './layout/material.icons.layout.style.css';

/* Animation */
@import './anim/heartbeat.anim.style.css';
@import './anim/typing.anim.style.css';

/* Ecosystems */
@import './ecosystems/loading.ecosystem.style.css';
@import './ecosystems/dialogue.ecosystem.style.css';

/* Organisms */
@import './organisms/dialogue.organism.style.css';

/* Molecules */
@import './molecules/image.tileset.molecule.style.css';
@import './molecules/dialogue.full.molecule.style.css';
@import './molecules/dialogue.face.molecule.style.css';

body *{
    margin: 0px;
    padding: 0px;
    line-height: normal;
}